[submodule "Collections-C"]
	path = Collections-C
	url = https://github.com/srdja/Collections-C.git
[submodule "openHEVC"]
	path = openHEVC
	url = https://github.com/jjustman/openHEVC.git
	branch = ffmpeg_update
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/jjustman/libwebsockets.git
	branch = master
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "gpac"]
	path = gpac
	url = https://github.com/gpac/gpac.git
[submodule "android/sample_app_no_phy/ExoPlayer"]
	path = android/sample_app_no_phy/ExoPlayer
	url = https://github.com/jjustman/ExoPlayer.git
