/.project
/.DS_Store
*~
/.cproject
route/*
mpu/*
libmicrohttpd-0.9.63
.vscode

# Compiled files. Perhaps move them to one directory in the future so the directory can be ignored instead?
atsc3_fdt_test
atsc3_isobmff_box_test
atsc3_stltp_parser_test
atsc3_libmicrohttpd_test
atsc3_mime_multipart_related_parser_test
atsc3_alc_listener_test
atsc3_lls_listener_test
atsc3_mmt_listener_test
atsc3_mmt_sls_listener_test
atsc3_stltp_listener_test
atsc3_listener_metrics_ncurses
atsc3_listener_metrics_ncurses_httpd_isobmff
atsc3_mmt_mfu_monitor
