[submodule "Collections-C"]
	path = Collections-C
	url = https://github.com/srdja/Collections-C.git
[submodule "openHEVC"]
	path = openHEVC
	url = https://github.com/jjustman/openHEVC.git
	branch = ffmpeg_update
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/jjustman/libwebsockets.git
	branch = master
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "gpac"]
	path = gpac
	url = https://github.com/gpac/gpac.git

# jjustman-2020-08-25 - adding in daa in ADO DAA branch
[submodule "android/sample_app_no_phy/ExoPlayer"]
	path = android/sample_app_no_phy/ExoPlayer
	url = https://dev.azure.com/NGWP/Middleware/_git/ExoPlayer
	branch = daa
	
	
# jjustman-2020-03-13 - not yet for protocol dissectors of stltp, alp, lls, route/dash and mmt
# [submodule "wireshark"]
#	path = wireshark
#	url = https://github.com/wireshark/wireshark.git
[submodule "Bear"]
	path = Bear
	url = https://github.com/rizsotto/Bear.git
[submodule "libtree"]
	path = libtree
	url = https://github.com/fbuihuu/libtree.git
[submodule "srt"]
	path = srt
	url = https://github.com/jjustman/srt.git
	
[submodule "saankhyalabs-slsdk"]
	path = saankhyalabs-slsdk
	url = https://dev.azure.com/NGWP/Mark%20One%20Phone/_git/saankhyalabs-slsdk
	branch = slsdk-0.10-borqs

[submodule "libusb_android"]
	path = libusb_android
	url = https://github.com/jjustman/libusb_android.git
